@keyframes turn720 {
    0% {
        transform: rotate(720deg);
    }

}
h2{
    padding-bottom: 60px;
}
html{
 margin:0;
    padding: 0;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #e9ecef));
}
.container-fluid{

}
ul{
    list-style: none;
}

.formaDetail{
    border-bottom: white 5px solid;
    margin-bottom: 20px;
}
#pdfIconDiv{
    margin-top: 15px;
    margin-bottom: 15px;
}
.formationDate{/*
    background:grey;
    color: white;
    padding :5px;
    font-size: 80%;
    text-align: center;
    border-radius: 10px;*/
    font-style: italic;
}

.reaPicture{
    width:250px;
}
header{
    /*position: relative;
    *//*background: lightskyblue;*/
    background: url("../img/banntest1.jpg");
    height: 290px;
    padding-top: 100px;
   /* z-index: -999;
*/}
.headerTitle{
    /*position: fixed;*/
    /*width: 100%;*/
    /*margin-top: 100px;*/
    color: #fff;
}


.nav li a{
    color:white;
}
.nav li a:hover{
    color:#dae0e5;
}

.profilePic{
    width:200px;
}

#compsDiv  .alignContent .contentPart ul{
    margin-top: 20px;
    list-style: none;
    padding: 0;
}
.contentPart{
    padding: 20px;
}
.interestIcon,.contactIcon{
    font-size: 350%;
}
.contentDiv{
    padding: 90px 0 100px;


}

.subInfo{
    font-size: 80%;

}

#contactDiv .contactIcon:hover{
    animation: turn720 1s;
}

#interestDiv .contentPart:hover i {
    transform: translate(0,-20px);
    transition-duration: .3s;
    transition-timing-function:ease-out;
}

#compsDiv .contactIcon:hover , #pdfIcon:hover {
    transform: scale(1.5);
    transition-duration: .3s;
    transition-timing-function:ease-out;
}
#compsDiv .contactIcon, #pdfIcon{
    transform: scale(1);
    transition-duration: .2s;
    transition-timing-function:ease-out;
}


#interestDiv .contentPart i{
    transform: translate(0,0);
    transition-duration: .3s;
    transition-timing-function:ease-out;

}
#linkedinPic{
    width: 60px;
}


#pdfIcon{
    color: darkred;
}