html{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;

}


header{
    position: relative;
    margin: 0px;
    background: lightskyblue;
    height: 290px;
    z-index: -999;
}
header h1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 100px;
    color: #fff;
    text-align: center;

}
.headName{
    text-transform: uppercase;
}

.headTitle{

    display: inline-block;
    margin-top: 10px;
    padding-top: 5px;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    font: inherit;

}

nav{
    background: gray;
    min-height: 52px;
    z-index: 999;
    position: absolute;
    width: 100%;

}
nav ul{
    display: flex;
    justify-content: center;
    margin: 0;

}
nav ul li{
    list-style: none;
    cursor: pointer;

}
nav li a{
    display: inline-block;
    color: cornsilk;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 5px;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in;


}

nav li a:hover{
    color: white;
}
nav li a:active{
    color: white;
}


.menuAbsolute{
    position: fixed;
    top: 0;
}

.divTitle{
    text-transform: uppercase;
}

.contentDiv{
    padding: 90px 0 120px;
    border: 1px solid black;

}

.contentDiv h2{
    text-align: center;
}
.divSubTitle{
    text-align: center;
}
#aProposDiv{
    background: rgba(138,210,255,0.05);
}
#listComps{
    background: rgba(138,210,255,0.12);

}
#expDiv{
    background: rgba(138,210,255,0.19);
}
#formationDiv{
    background:rgba(138,210,255,0.27);
}
#realisationDiv{
    background: rgba(138,210,255,0.19);
}
#interestnDiv{
    background: rgba(138,210,255,0.12);
}
#contactDiv{
    background: rgba(138,210,255,0.05);
}

.alignContent{
    margin:0 auto;
    padding : 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    border : 1px solid yellow;
    flex-wrap: wrap;

}
.contentPart{

}

.smallFont{
    font-size: 75%;
}

.bold{
    font-weight: 700;
}

.interestIcon,.contactIcon{
    font-size: 350%;
    margin: auto;
}


.contentPart{
    padding: 20px;
    margin: 20px 40px 20px 40px;
    width: 200px;
    border:1px solid black;
    text-align: center;
}

.interestTitle{
    color: grey;
}

#interestDiv .contentPart i{
    transform: translate(0,0);
    transition-duration: .3s;
    transition-timing-function:ease-out;

}
#interestDiv .contentPart:hover i {
    transform: translate(0,-20px);
    transition-duration: .3s;
    transition-timing-function:ease-out;
}

#contactDiv p{
    color: grey;
}

@keyframes turn720 {
    0% {
        transform: rotate(720deg);
    }

}
#contactDiv .contentPart:hover i {
    animation: turn720 1s;
}
.profilePicDiv{
    width: 32%;
    float: left;
}
